html {
    width:100%;
    height:100%;
}

body {
    width:100%;
    min-height:100%;

    background-color:#eee;
    background-color: #74a6b7;
    box-shadow:
    inset 0  15px 0 rgba(0,0,0,0.2),
    inset 0 -15px 0 rgba(0,0,0,0.2),
    inset 15px  0 0 rgba(0,0,0,0.2),
    inset -15px 0 0 rgba(0,0,0,0.2);
}

.navbar {
    margin-top:40px;
}

.pg-content {
    width:100%;
    background-color:#f8f8f8;
    border-radius:4px;
    padding:25px;
    margin-bottom:25px;
}

.pg-content h1 {
    margin:10px 0 25px ;
}

.pg-content h1 small {
    font-size:45%;
}

.pg-content h1 a {
    color: #45b6ff;
}

.thumbnail {
    position:relative;
    z-index:2;
}

.hint {
    color:#888;
    font-size:90%;
}

.aboutus {
    text-align:center;
    padding-bottom: 25px;
}
.aboutus h1 {
    font-size:220%;
    margin-bottom:10px;
}
.aboutus h2{
    color:#888;
    font-size:150%;
    margin-top:10px;
    margin-bottom:25px;
}

.login-box {
    box-sizing:border-box;
    max-width:350px;
    margin: -25px auto 25px;
    padding:25px;
    box-shadow:0 0 3px rgba(0,0,0,0.2);
}

.login-box h1 {
    font-size:220%;
    text-align:center;
    margin:0 0 15px;
}
.login-box h2 {
    font-size:120%;
    color:#888;
    text-align:center;
    margin:15px 0 25px;
    font-weight:bold;
}

.btn {
    margin-top:5px;
}

.filler-img {
    width:100%;
    min-height:100px;
    border-radius:2px;
    background-color:#eee;
    background-size:cover;
    background-position:center;
    box-shadow:inset 0 0 5px 2px rgba(0,0,0,0.2);
}

.whiteboard {
    background-color:white;
    border-radius:2px;
    box-shadow:0 0 1px rgba(0,0,0,0.2);
    padding:35px;
}

.profile {
    text-align:center;
    padding-bottom:25px;
}

.profile h3 {
    font-size:180%;
}

.profile h4 {
    font-size:125%;
    color:#aaa;
}

.profile h5 {
    color:#888;
    font-size:90%;
    font-weight:bold;
    text-align:left;
    margin-left:15px;
    margin-top:15px;
}

.profile-img {
}
.profile-img img {
    max-width:75%;
    border-radius:2px;
    box-shadow:0 0 0 1px white, 0 0 2px 2px rgba(0,0,0,0.3);
    margin-bottom:15px;
}

.caption h3 {
    margin-top:8px;
}

.pagination > .disabled > a, .pagination > .disabled > a:focus, .pagination > .disabled > a:hover, .pagination > .disabled > span, .pagination > .disabled > span:focus, .pagination > .disabled > span:hover {
    cursor:text;
}

.vertical-center {
     min-height: 100%;  /* Fallback for browsers do NOT support vh unit */
     min-height: 100vh; /* These two lines are counted as one :-)       */

     display: flex;
     align-items: center;
    padding:50px;
 }

.centered {
    margin:0 auto;
    text-align:center;
}

a.btn.btn-default {
    color:inherit;
}

.float-right {
    float:right;
}

.pagination li.disabled {
    cursor:pointer;
}

.login-box .input-group {
    margin-bottom:5px;
}

.addon-35 {
    min-width:100px;
}

.warning-block {
    display:block;
    width:100%;
    text-align:center;
    font-size:100%;
    background-color: #ff5565;
    color: #ae2525;
    font-weight:bold;
    border: 1px solid #be3e4d;
    border-radius:3px;
    padding:10px;
    margin-bottom:25px;
}

table.api-help tr td {
    vertical-align:middle;
}
.api-help ul {
    text-align:left;
}
.api-help ul li {
    display:table;
    font-size:90%;
    background-color: #daeeee;
    margin:3px 0;
}

table.api-help tr td:nth-child(4), table.api-help tr th:nth-child(4),
table.api-help tr td:nth-child(5), table.api-help tr th:nth-child(5) {
    width:25%;
}

.navbar-brand a {
    display:inline-block !important;
    padding:0 5px !important;
}

.navbar-brand span.tag {
    font-size:80%;
    font-weight:bold;
    color:#ccc;
}

.footer-cont {
    margin-top:25px;
    background-color:transparent !important;
    box-shadow:none;
}

.footer-cont .panel {
    background-color:transparent;
    border:0;
    box-shadow:none;
}

.table tr th, .table tr td {
    text-align: center;
}

.table tr th {
    background-color:rgba(0,0,0,0.05);
}

.table td.top {
    background-color:rgba(0,255,40,0.1);
    border-color:#ccc;
}
.table td.avg {
    color:#aaa;
}
.table td.bot {
    background-color:rgba(255,40,0,0.08);
    border-color:#ccc;
}

.table td.res-0 div.accuracy-bar {
    background-color:green;
    color:transparent;
    width:100%;
    height:100%;
}

.table td.res-1 div.accuracy-bar {
    background-color:red;
    color:transparent;
    width:33%;
    height:100%;
}
.table td.res-2 div.accuracy-bar {
    background-color:gray;
    color:transparent;
    width:66%;
    height:100%;
}
.table td.res-3 div.accuracy-bar {
    background-color:green;
    color:transparent;
    width:100%;
    height:100%;
}
.footer {
    width:100%;
    left:0;
    margin:25px 0;
    color: #222;
    font-weight:bold;
    font-size:80%;
    text-align:center;
}

.footer a {
    color: #204d74;
    text-decoration:underline;
}