html {
    height:100%;
}

body {
    /*background: #0094ff;*/
	
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background: rgba(122,196,53,1);
    background: -moz-linear-gradient(top, rgba(122,196,53,1) 0%, rgba(255,242,242,1) 50%, rgba(252,33,33,1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(122,196,53,1)), color-stop(50%, rgba(255,242,242,1)), color-stop(100%, rgba(252,33,33,1)));
    background: -webkit-linear-gradient(top, rgba(122,196,53,1) 0%, rgba(255,242,242,1) 50%, rgba(252,33,33,1) 100%);
    background: -o-linear-gradient(top, rgba(122,196,53,1) 0%, rgba(255,242,242,1) 50%, rgba(252,33,33,1) 100%);
    background: linear-gradient(to bottom, rgba(122,196,53,1) 0%, rgba(255,242,242,1) 50%, rgba(252,33,33,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7ac435', endColorstr='#fc2121', GradientType=0 );
}



img {

    border:2px solid #808080;
    border-radius: 15px;
    height: 20%;
    width: 20%;
    
}

#right {
	position:fixed;
    width:20%;
    bottom:-78%;
	right:0%;height:100%;
}

div {
    font:bold 16px arial, verdana;
    
}

#text {
	position:fixed;
	left:50%;
	top:50%;
	transform:translate(-50px,-50px);

    width:100%;height:100%;
}

#result1 {
    position:fixed;
    left: 40%;
    top: 10%;
    width:100%;height:100%;
}

#result2 {
    position:fixed;
    left: 10%;
    top: 25%;
    width:100%;height:100%;
 
}

#result3 {
    position:fixed;
    left: 70%;
    top: 25%;
    width:100%;height:100%;
 
}

#result19 {
    position:fixed;
    left: 10%;
    top: 55%;
    width:100%;height:100%;
  
}

#result20 {
    position:fixed;
    left: 70%;
    top: 55%;
    width:100%;height:100%;

}

#result21 {
    position:fixed;
    left: 40%;
    top: 70%;
    width:100%;height:100%;

}

.play_again_cont {
     min-height: 100%;  /* Fallback for browsers do NOT support vh unit */
     min-height: 100vh; /* These two lines are counted as one :-)       */

     display: flex;
     align-items: center;
}

.play_again_box {
    margin:0 auto;
    width:400px;
    text-align: center;
}

.play_again_box fieldset {
    margin-top:25px;
}
