html,body {
	padding: 0;
	margin: 0;
}

video {
	position:fixed;
	top:50%;
	left:50%;
	transform:translate(-50%,-30%);
}

header {
	position:fixed;
	top:0;
	width:100%;
	height:40px;
	background-color:#343838;
	padding:20px;
	text-align:center;
	text-transform:uppercase;
	font-size:1.5em;
	color: #FFFFCC;
	font-family: Arial, Helvetica, sans-serif;
}


header div {
	position:fixed;
	top:40px;
	text-align:left;
	color: #FFFFCC;
	text-decoration:none;
}

header nav {
	position:relative;
	top:-25px;
	margin-right:30px;
	text-align:right;
	color: #FFFFCC;
}

form div {
	width:300px; 
	margin-left:auto; 
	margin-right:auto;
	text-align:center;
	padding:20px;
	border-radius:25px;
	font-family: Arial, Helvetica, sans-serif;
	font-size:1.5em;
}


footer {
	background-color: #343838;
	width: 100%;
	height:40px;
	bottom: 0;
	position: fixed;
	text-align:left;
	padding-left:10px;
	padding-top:10px;
	color: #FFFFCC;
	font-family: Arial, Helvetica, sans-serif;
}

footer div {
	float:right;
	text-align:right;
	padding-right:40px;
	color: #FFFFCC;
	width:100px;
}

footer p{
	float:center;
	
}

a:link, a:visited { 
	color: #FFFFCC;
	text-decoration: none;
	cursor: auto;
}

a:link:active, a:visited:active { 
	color: red;
}

#main{
	padding-top:80px;
	text-align:center;
}
#smile{
	padding-top:60px;
	text-align:center;
}
#myCanvas{
	/*width:100%;*/
}

button,input,textarea,option,select{
	cursor:pointer; /*forces the cursor to change to a hand when the button is hovered*/
	padding:5px; /*add some padding to the inside of the button*/
	background:#005F6B; /*the colour of the button*/
	border:1px solid #33842a; /*required or the default border for the browser will appear*/
		-moz-border-radius: 10px;
		-webkit-border-radius: 10px;
	border-radius: 10px;
		-webkit-box-shadow: 0 0 4px rgba(0,0,0, .75);
		-moz-box-shadow: 0 0 4px rgba(0,0,0, .75);
	box-shadow: 0 0 4px rgba(0,0,0, .75);
	color:#FFFFCC;
	font-size:1.1em;
}
button:hover, button:focus, input:hover, input:focus{
	background:#016F7C;
}

#smile img {
}
